{{ define "info" }}
{{ template "header" }}
<div class="container mt-3 fs-3">
    <div class="row">
        <div class="col-10 offset-md-1" id="doc-content">
            <h3 class="display-3">About us</h3>
            <div class="d-flex justify-content-between flex-wrap">
                {{ range . }}
                <div class="name-badge border border-2 border-warning rounded-1 mb-2">
                    <div class="img-badge rounded-2">
                        <img src="{{ .Img }}" class=""></img>
                    </div>
                    <div class="name-badge-content">
                        <p class="first-name lead fs-4">{{ .FirstName }}</p>
                        <p class="last-name display-4 text-warning-emphasis"><b>{{ .LastName }}</b></p>
                        <p class="account lead fs-4 pe-4 text-end text-primary-subtle">@{{ .Account }}</p>
                        <p class="desc lead fs-3 text-decoration-underline">
                            <a href="https://github.com/{{ .Account }}" class="text-decoration-none link-secondary">
                                {{ .Desc }}
                            </a>
                        </p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<script src="static/crossorigin-form.js"></script>
{{ template "footer" }}
{{ end }}
